* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100 vh;
  display: grid;
  /* grid-template-rows: "header"; */
  
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
  "header header header"
  "main section section"
  ;
}

header {
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  margin-bottom: 10px;
  grid-area: header;
}

ul {
  list-style-type: none;
}

#main-car-form{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  grid-area: main;
}

#form-car-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  grid-area: section;
}